Source: tcosconfig
Section: gnome
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends:  debhelper (>= 5.0.37.2), python, python-support (>= 0.3)
Standards-Version: 3.7.2
XS-Python-Version: >= 2.4

Package: tcosconfig
Architecture: any
Depends:  gksu | kdesu, python-gtk2, python-glade2, ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}
XB-Python-Version: ${python:Versions}
Description: Small python GUI that configure and create TCOS boot images.
 TCOS, thin Client Operating System is a method to create small embedded os
 based on debian/ubuntu with normal debian kernel's.
 .
 tcosconfig is a small pygtk configure and create tool.
 .
 Project pages:
 http://soleup.eup.uva.es/mediawiki/index.php/TCOS
 http://soleup.eup.uva.es/mediawiki/index.php/TCOS-config

Package: tcos-config
Architecture: any
Depends:  tcosconfig
XB-Python-Version: ${python:Versions}
Description: dummy upgrade to new package name tcosconfig
 It is safe to remove this package.
 .
 Project pages:
 http://soleup.eup.uva.es/mediawiki/index.php/TCOS
 http://soleup.eup.uva.es/mediawiki/index.php/TCOS-config
